body{
  margin-top: 20px;
  padding: 0;
}
#map {
        height: 400px;
        width: :100%;
        margin: auto;
       }
.places_list{
  width: 100%;
}

#burger-button{
  margin: 0;
  padding: 0;
}
